body {
    margin: 0px !important;
    padding: 0px !important;
}


/* Define the font family */
@font-face {
    font-family: 'cairo-font';
    src: url('../src/assets/fonts/cairo/Cairo-Regular.ttf') format('truetype'),
         url('../src/assets/fonts/cairo/Cairo-Regular.woff2') format('woff2'),
         url('../src/assets/fonts/cairo/Cairo-Regular.woff') format('woff');
    src: url('../src/assets/fonts/cairo/Cairo-Regular.ttf') format('woff2');
      
    font-weight: 400; /* normal */
    font-style: normal;
  }
  
  
  
  /* Apply the font */
  * {
    font-family: 'cairo-font' !important;
  }